* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: peachpuff;
}

.App {
  text-align: center;
}

button {
  color: #FFF;
  background: darkmagenta;
  width: 15rem;
  height: 5rem;
}

.cntr {
  width: 36%;
  height: 3rem;
  line-height: 3;
  margin-left: 32%;
  margin-right: 32%;
  background: #000;
  color: #FFF;
}
